/* базовые параметры для кнопки */
.button {
  display: flex;
  justify-content: left;
  align-items: center;

  border-radius: 4px;
  border-width: 0px;

  width: min-content;
}

/* базовые параметры для иконки в кнопке */
.button__icon {
  width: 16px;
  height: 16px;
}

/* базовые параметры для текста в кнопке */
.button__text {
  font-family: Ubuntu;
  font-style: normal;

  white-space: nowrap;
}

/* большой размер и все паддинги марджины зависящие от него */
.button_size-big {
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.button_size-big.button_icon-only {
  padding-left: 8px;
  padding-right: 8px;
}

.button_size-big > .button__icon + .button__text {
  margin-left: 8px;
}

/* маленький размер и все паддинги марджины зависящие от него */
.button_size-small {
  height: 24px;
  padding-left: 8px;
  padding-right: 8px;
}

.button_size-small.button_icon-only {
  padding-left: 4px;
  padding-right: 4px;
}

.button_size-small > .button__icon + .button__text {
  margin-left: 4px;
}

/* ширина на весь элемент, модификатор */
.button_width-flexible {
  width: 100%;
  justify-content: center;
}

/* цветовая схема обычная */
.button_theme-regular {
  background: #459df5;
}

.button_theme-regular:hover {
  background: #3490ec;
}

.button_theme-regular:active {
  background: #1271d1;
}

.button_theme-regular > .button__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #ffffff;
}

.button_theme-regular > .button__icon {
  fill: #ffffff;
}

/* цветовая схема светлая */
.button_theme-light {
  background: transparent;
}

.button_theme-light:hover {
  background: #c6e2ff;
}

.button_theme-light:active {
  background: #51a8ff;
}

.button_theme-light > .button__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #459df5;
}

.button_theme-light > .button__icon {
  fill: #459df5;
}

/* цветовая схема контрастная */
.button_theme-contrast {
  background: transparent;
}

.button_theme-contrast:hover {
  background: #c7c7c7;
}

.button_theme-contrast:active {
  background: #6d6d6d;
}

.button_theme-contrast > .button__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #000000;
}

.button_theme-contrast > .button__icon {
  fill: #000000;
}
