.input-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.input-block__label {
  height: 16px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.input-block__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px 4px 8px;
  border: 1px solid #459df5;
  box-sizing: border-box;
  border-radius: 4px;
  position: static;
  width: 256px;
  height: 32px;

  margin: 8px 0px 0px 0px;
  flex: none;
}

.input-block__input:focus-within {
  border: 1px solid #1518ca;
}

.input-block__input-text {
  width: 244px;
  height: 16px;
  border: 0;
  background-color: transparent;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.input-block_size-short .input-block__input {
  width: 128px;
}
.input-block_size-short .input-block__input-text {
  width: 112px;
}

.input-block__input-text::placeholder {
  color: #bad8f5;
}

.input-block__input-text::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.input-block__input-text:focus {
  outline: none;
}

.input-block__input_incorrect {
  border: 1px solid #f53152;
}

.input-block__input_disabled {
  background: #bad8f5;
}

.input-block__input-text_incorrect {
  width: 216px;
}

.input-block__input-text_disabled {
  width: 216px;
}

.input-block__button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

.input-block__button-icon {
  width: 16px;
  height: 16px;
  margin: 0px 4px;
}
